{% extends 'kiritan/main.html' %}
{% block content %}

<div class="kiritan-bg container-fluid">
  <section>
    <div class="row">
      <div class="col-lg-9 col-sm-6 col-12 mt-3 mb-2">
        <h4>やること一覧</h4>
        <small>やらないといけない作業登録！</small>
      </div>
      <div class="col-lg-3 col-sm-6 col-12 mt-3 mb-2">
        <form method="POST" action="/" class="form-inline">
          {% csrf_token %}
          {{ form.title }}
          <input type="submit" name="Task" class="form-control" value="登録">
        </form>
      </div>
    </div>
    <div class="row">
      {% for task in tasks %}
      <div class="col-lg-3 col-sm-6 col-12 mb-2">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="media-body text-left">
                  <span>{{task.title}}</span>
                </div>
                <div class="media-body text-right">
                  <a href="{% url 'update_task' task.id %}">編集</a>
                  <span>削除</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock %}
